.Deathbox-Ammo-Grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 4px;
    grid-template-rows: repeat(2, 1fr);
    max-width: 516px;
    margin: auto;

}

.ammo-title{
    margin: 0;
    margin-top: 17px;
    margin-bottom: 12px;
    margin-left: 41px;
}