.consumable-container{
    display: grid;
    height: 68px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.consumable-title{
    margin-top: 11px;
    margin-left: 41px;
    margin-bottom: 21px;
}

.single-item-consumables-container{
    padding-left: 41px;
    padding-right: 41px;
    height: 68px;
    
}

.single-item-consumables-container:not(:first-child){
    margin-top: 6px;
}

.single-item-consumable{
    margin: 0;
    /* width: 516px;
    height: 68px; */
    width: 515px;
    height: 67px;
    border: 1px solid #d9d9da;
}